.navbar {
    text-align: center;
    
}

.first {
    background-color: pink;
}
 
.navbar {
    
    background-color: forestgreen;
    height: 80px;
}


.second{
    background-color: green;
}

.ownerbg {
    background-color: blue;
}

table {
    border-style: double;
}

.petbg{
    background-color: pink;
    font-family: cursive;
    text-align: center;

}

th, td {
    padding: 15px;
    text-align: left;
    height: 15px;
    vertical-align: bottom;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}