<div class="homebg">


<h1> Welcome to PetoCracy</h1>
<p>A leisurely place for your pets to feel at home!</p>
<form ng-submit="vm.addPet(vm.petToAdd)">
        <input type="text" placeholder="name" ng-model="vm.petToAdd.name">
        <input type="text" placeholder="breed" ng-model="vm.petToAdd.breed">
        <input type="text" placeholder="color" ng-model="vm.petToAdd.color">
        <input type="text" placeholder="pet checked in ?" ng-model="vm.petToAdd.checkedin">
        <input type="text" placeholder="20XX/XX/XX" ng-model="vm.petToAdd.lastcheckin">
        <input type="submit"> 
    </form>

</div>