<div class="petbg">


    <h1> Welcome to PetoCracy</h1>
    <p>A leisurely place for your pets to feel at home!</p>
</div>
<span> Pet Application Form</span>




<h3> Pets Directory</h3>



<!-- INPUT AREA -->

<form ng-submit="pc.addPet(pc.petToAdd)">

    <label>Pet Name:</label>
    <input type="text" placeholder="Expresso" ng-model="pc.petToAdd.name">

    <label>Type of Pet:</label>
    <input type="text" placeholder="Ostrich" ng-model="pc.petToAdd.breed">
    <br>

    <label>Pet Color:</label>
    <input type="text" placeholder="Ostrich Colors" ng-model="pc.petToAdd.color">



    <label>Checked in?:</label>
    <input type="text" placeholder="No" ng-model="pc.petToAdd.checkedin">

    <br>
    <label>Last visit?:</label>
    <input type="date"  ng-model="pc.petToAdd.lastcheckin">

    <input type="submit">
</form>

<!-- page breaks -->
<br>
<br>


<!-- OUTPUT AREA -->
<div class="containerPet">


    <table>
        <th>id:</th>
        <th>Pet Name</th>
        <th>Type</th>
        <th>Color</th>
        <th>Checked In ?</th>
        <th>Date last checked in? </th>


        <tr ng-repeat="pet in pc.pets">
            <td>{{pet.id}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.breed}}</td>
            <td>{{pet.color}}</td>
            <td>{{pet.checkedin}}</td>
            <td>{{pet.lastcheckin | date : "dd.MM.y"}}</td>
        </tr>
    </table>




</div>